@import "@angular/material/prebuilt-themes/indigo-pink.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0F172A;
  --accent-color: #3B82F6;
  --success-color: #10B981;
  --background-color: #F8FAFC;
}

body {
  margin: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.mat-typography {
  font-family: 'Inter', 'Roboto', sans-serif !important;
}
